* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 15px 0 10px #00000082;
}

h1 {
    margin-bottom: 20px;
    
}

.btn {
    background-color: #4da4eb;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #4ee5e8;
}

h2 {
    margin: 20px 0;
}

#imagem-animal {
    width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}